.category {
  width: 25%;
  height: 300px;
  float: left;
  margin-left: 5%;
  background-color: #D3D3D3;
  border: 2px solid grey;
}
.category h1 {
  text-align: center;
}
.product_container {
  max-width: 60%;
  overflow: hidden;
  padding: 0 5% 0 5%;
  text-align: center;
  background-color: #D3D3D3;
}
.product {
  display: inline-block;
  width: 40%;
  margin: 1% 1% 1% 1%;
}
.product img {
  height: 100%;
  width: 100%;
}
