.category {
  width: 25%;
  height: 300px;
  float: left;
  margin-left: 5%;
  background-color: #D3D3D3;
  border: 2px solid grey;
}
.category h1 {
  text-align: center;
}
@media only screen and (max-width: 668px) {
  .category {
    display: inline;
    width: 100%;
  }
}
.product_container {
  max-width: 60%;
  overflow: hidden;
  padding: 0 5% 0 5%;
  text-align: center;
  background-color: #D3D3D3;
}
@media only screen and (max-width: 668px) {
  .product_container {
    display: inline;
    width: 100%;
  }
}
.product {
  padding-left: 0;
  margin-left: 0;
  text-align: center;
  list-style-type: none;
  background-color: #D3D3D3;
}
.product li {
  padding-left: 0;
  margin: 0 2% 0 2%;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 40%;
}
.product img {
  width: 100%;
  height: 100%;
  margin: 1% 1% 1% 1%;
}
