@import url("index.less");
@import url("category.less");
@import url("product.less");


html, body {
  height: 100%; min-height: 100%;
}

body {
  background-color: #CFC7D1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}





